[submodule "wiki"]
	path = wiki
	url = https://github.com/apiel/zicBox.wiki.git
[submodule "os/buildroot"]
	path = os/buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "pico/pico-sdk"]
	path = pico/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pico/pico-extras"]
	path = pico/pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
[submodule "data"]
	path = data
	url = https://github.com/apiel/zicData.git
