.vscode/*.log
.note.local
demo.json
zicHost
list_pulse
*.so
*.o
test
try_so
methodptr
zicUi
zicBox
zicPixel
zicPixelSSD1306
zicBox.arm
zicBox.x86
zicPixel.arm
zicPixel.x86
zicPixelSSD1306.arm
zicPixelSSD1306.x86
pixelSSD1306.x86
pixelSSD1306.arm
pixel.arm
pixel.x86
build
test2
*.log
thread
plugins/audio/tutorial/*.bin
pixel_env.lua
pixel_env_.lua
*.gch
*.d
node_modules
* copy.lua
tape/.tmp/*
tape/tmp/*
samples/tape_tmp/*.wav
ttf2font
matrix
data.zip
mcp23017_read
test_pulse
test_pulse.cpp
trystuff/neotrellis
.wpa_supplicant.conf
output
.github_token
data_backup
mainSDL
managed_components
rag/
apikey.js