[submodule "libsndfile"]
	path = libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "dustscript"]
	path = dustscript
	url = https://github.com/apiel/dustscript.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/apiel/zicBox.wiki.git
[submodule "data/audio"]
	path = data/audio
	url = https://github.com/apiel/zicAudioFiles.git
