# enable debug mode
DEBUG: true

# Midi input
MIDIIN: Elektron Digitone MIDI 1
# Midi output
MIDIOUT: Elektron Digitone MIDI 1
# MIDIOUT: MC-101 MIDI 1

# Channel where midi notes are sent
MIDI_NOTE_CHANNEL: 0

#### AUDIO PLUGINS ####

AUDIO_PLUGIN: AudioInput ./plugins/audio/build/libzic_AudioInputPulse.so
  # DEVICE: Plantronics P610
  # DEVICE: alsa_input.usb-Plantronics_Plantronics_P610_ED80689444A4FD42960C3DD9B24FFD2B-00.analog-stereo
  DEVICE: alsa_input.usb-Elektron_Music_Machines_Elektron_Digitone_000000000001-00.analog-stereo

# AUDIO_PLUGIN: ./plugins/audio/build/libzic_AudioInputAlsa.so
# # DEVICE: Plantronics P610
# DEVICE: default

AUDIO_PLUGIN: Granular ./plugins/audio/build/libzic_SynthGranular.so
  # SAMPLES_FOLDER: ./samples
  TRACK: 1

AUDIO_PLUGIN: Sequencer ./plugins/audio/build/libzic_Sequencer.so
  TARGET: Granular

AUDIO_PLUGIN: Kick23 ./plugins/audio/build/libzic_SynthKick23.so
  TRACK: 2

AUDIO_PLUGIN: Mixer4 ./plugins/audio/build/libzic_Mixer4.so
  VALUE_B: 40

AUDIO_PLUGIN: SampleRateReducer ./plugins/audio/build/libzic_EffectSampleRateReducer.so
  MIDI_CC: SAMPLE_STEP b0 4a xx

AUDIO_PLUGIN: Distortion ./plugins/audio/build/libzic_EffectDistortion.so
  MIDI_CC: DRIVE b0 48 xx

AUDIO_PLUGIN: MultiModeFilter ./plugins/audio/build/libzic_EffectFilterMultiMode.so
  MIDI_CC: CUTOFF b0 4c xx
  MIDI_CC: RESONANCE b0 4d xx

AUDIO_PLUGIN: Delay ./plugins/audio/build/libzic_EffectDelay.so

AUDIO_PLUGIN: GainVolume ./plugins/audio/build/libzic_EffectGainVolume.so
  MIDI_CC: VOLUME b0 49 xx

AUDIO_PLUGIN: AudioOutput ./plugins/audio/build/libzic_AudioOutputPulse.so

# AUDIO_PLUGIN: ./plugins/audio/build/libzic_AudioOutputAlsa.so
# DEVICE: Plantronics P610
# # DEVICE: default

# sample selector
# GRANULAR_SAMPLE_SELECTOR: c0 xx
