# enable debug mode
DEBUG: true

# Midi input
# MIDIIN: Elektron Digitone MIDI 1
MIDIIN: APC Key 25 mk2:APC Key 25 mk2 APC Key 25 mk2 K

# Midi output
MIDIOUT: Elektron Digitone MIDI 1
# MIDIOUT: MC-101 MIDI 1

# Channel where midi notes are sent
MIDI_NOTE_CHANNEL: 0

#### AUDIO PLUGINS ####

AUDIO_PLUGIN: Tempo ./plugins/audio/build/libzic_Tempo.so

$kickTrackCount=3
$sampleTrackStart=$kickTrackCount+1

$track=1
while: $track < 13
  $engine=Sample
  if: $track < $sampleTrackStart
    $engine=Kick23
  
  AUDIO_PLUGIN: $engine ./plugins/audio/build/libzic_Synth$engine.so
    TRACK: $track
    # MIDI_NOTE_CHANNEL: $track

  AUDIO_PLUGIN: Sequencer ./plugins/audio/build/libzic_Sequencer.so
    TRACK: $track
    TARGET: $engine

  if: $track < $sampleTrackStart
    AUDIO_PLUGIN: Distortion ./plugins/audio/build/libzic_EffectDistortion.so
      TRACK: $track

  AUDIO_PLUGIN: MultiModeFilter ./plugins/audio/build/libzic_EffectFilterMultiMode.so
    TRACK: $track

  AUDIO_PLUGIN: SerializeTrack ./plugins/audio/build/libzic_SerializeTrack.so
    TRACK: $track
    FILEPATH: serialized/track_$track.cfg
  
  $track=$track + 1
  


AUDIO_PLUGIN: Mixer ./plugins/audio/build/libzic_Mixer12.so

AUDIO_PLUGIN: SampleRateReducer ./plugins/audio/build/libzic_EffectSampleRateReducer.so
  MIDI_CC: SAMPLE_STEP b0 4a xx

AUDIO_PLUGIN: MasterDistortion ./plugins/audio/build/libzic_EffectDistortion.so
  MIDI_CC: DRIVE b0 48 xx

AUDIO_PLUGIN: MultiModeFilter ./plugins/audio/build/libzic_EffectFilterMultiMode.so
  MIDI_CC: CUTOFF b0 4c xx
  MIDI_CC: RESONANCE b0 4d xx

AUDIO_PLUGIN: MasterDelay ./plugins/audio/build/libzic_EffectDelay.so

AUDIO_PLUGIN: MasterVolume ./plugins/audio/build/libzic_EffectGainVolume.so
  MIDI_CC: VOLUME b0 49 xx




# AUDIO_PLUGIN: Pd ./plugins/audio/build/libzic_SynthPd.so
#   OPEN_PD: pd/synth/main.pd
#   # OPEN_PD: pd/kick/main.pd
#   MIDI_NOTE_CHANNEL: 1
#   ASSIGN_CC: 2 Stuff 127
#   ASSIGN_FLOAT: FREQ Freq 440.0

AUDIO_PLUGIN: AudioOutput ./plugins/audio/build/libzic_AudioOutputPulse.so

# AUDIO_PLUGIN: ./plugins/audio/build/libzic_AudioOutputAlsa.so
# DEVICE: Plantronics P610
# # DEVICE: default

# sample selector
# GRANULAR_SAMPLE_SELECTOR: c0 xx

AUDIO_PLUGIN: SerializeTrack_Master ./plugins/audio/build/libzic_SerializeTrack.so
  TRACK: 0
  FILEPATH: serialized/master.cfg

# Should be at the end, after all plugins have been initialized
AUTO_SAVE: 500
